<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/form.css">

</head>
<body>
<table class="header">
    <tr>
        <td><a th:href="@{/home}">Home</a></td>
        <td><a th:href="@{/about}">About</a></td>
        <td><a th:href="@{/books}">Books</a></td>
        <td><a th:href="@{/add-book}">AddNewBook</a></td>
    </tr>
    <br>
    <br>
</table>
<form th:action="@{/add-book}" method="post">
    <input type="text" class="form-control" id="title" placeholder="Mi a könyv címe" th:field="*{newBook.title}">
        <label for="title">Title</label>
    <input type="text" class="form-control" id="author" placeholder="Ki írta a könyvet" th:field="*{newBook.author}">
        <label for="title">Author</label>
    <br>
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>