<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
<table class="header">
    <tr>
        <td><a th:href="@{/home}">Home</a></td>
        <td><a th:href="@{/about}">About</a></td>
        <td><a th:href="@{/books}">Books</a></td>
        <td><a th:href="@{/add-book}">AddNewBook</a></td>
        <td><a th:href="@{/randombook}">RandomBook</a></td>
        <td><a th:href="@{/reg}">Registration</a></td>
        <td><a th:href="@{/users}">Users</a></td>
        <td><a th:href="@{/randomuser}">RandomUser</a></td>
    </tr>
    <br>
    <br>
</table>
<form th:action="@{/reg}" method="post">
    <input type="text" class="form-control" id="name" placeholder="Mi a neved?" th:field="*{newUser.name}">
    <label for="name">Name</label>
    <input type="number" class="form-control" id="birthdate" placeholder="Mikor születtél?" th:field="*{newUser.birthdate}">
    <label for="birthdate">Birthdate</label>
    <input type="number" class="form-control" id="regDate" placeholder="Mai dátum?" th:field="*{newUser.regDate}">
    <label for="regDate">Registration date</label>
    <br>
    <br>
    <button type="submit">Submit</button>
</form>


</body>
</html>